@font-face {
    src: url("fonts/Japan\ Daisuki.otf");
    font-family: Japan-daisuki;
}

@font-face {
    font-family: Poppins-Bold;
    src: url("fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-regular;
    src: url("fonts/Poppins-Regular.ttf");
}

body {
    text-align: center;
    font-family: Japan-daisuki;
    margin: 0;
    padding: 0;
}

#hero {
    font-family: Japan-daisuki;
    background-image: url("images/japan-background.jpg");
    background-size: cover;
    background-position: center;
    padding: 30px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#title, #description, #follow-up {
    background-color: #fcd5ce;
    padding: 10px;
    border-radius: 10px;
}

#activity-header {
    font-family: Poppins-regular;
    background-color: #fae1dd;
    padding: 25px;
    margin: 0;

}

#activities {
    font-family: Poppins-regular;
    background-color: #fae1dd;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#activity {
    max-width: 400px;
}

#activity:hover {
    transform: scale(1.2);
    background-color: #fec5bb;
}

.image {
    margin: 20px 0 0 0;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 100%;
}

#faq {
    font-family: Poppins-regular;
    width: 600px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    text-align: center;
    background-color: #a3b18a;
    color: #3a5a40;
    border-bottom: 5px solid #344e41;
    border-radius: 10px;

}

#myself {
    width: 150px;
    box-shadow: 10%;
}

#info {
    max-width: 300px;
}